body {
  background: #333;
}

.header {
  padding-bottom: 3px;
  color: white;
  font-family: sans-serif;
}

.grid {
  display: inline-grid;
  grid-template-columns: repeat(3, 30px);
  padding: 15px;
  gap: 5px;
  border: 1px solid #ccc;
  background: #222;
}

.cell {
  height: 30px;
}

.player,
.enemy {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.player {
  background: rgb(103, 212, 89);
}

.enemy {
  background: red;
}
